browser:
  exec: "C:\\Program Files\\Google Chrome\\chrome.exe"
  links:
    - "google.com"
    - "msn.com"
    - "reddit.com"

programs:
- exec: "C:\\Windows\\System32\\calc.exe"
  startdir: "C:\\"
  arg: ""
